:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; /* should be exclusively controlled by parents */
  border: 0;
  list-style-position: inside;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

.primary *::selection {
  background-color: light-dark(#ef99a0, #41ac99);
  color: light-dark(#f4f1ee, #100819);
}
.primary, .primary .forward-theme {
  background-color: light-dark(#f4f1ee, #100819);
  color: light-dark(#100819, #f4f1ee);
}
.primary .blog h2::before, .primary .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#f4f1ee, #100819) 100%);
}
.primary .ramp, .primary .ramp .forward-theme {
  background-color: light-dark(#e9dfd4, #1b1626);
  color: light-dark(#100819, #f4f1ee);
}
.primary .blog .ramp h2::before, .primary .blog .ramp h3::before, .primary .ramp .blog h2::before, .primary .ramp .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#e9dfd4, #1b1626) 100%);
}
.primary .ramp .ramp, .primary .ramp .ramp .forward-theme {
  background-color: light-dark(#e3cfba, #241e31);
  color: light-dark(#100819, #f4f1ee);
}
.primary .blog .ramp .ramp h2::before, .primary .blog .ramp .ramp h3::before, .primary .ramp .blog .ramp h2::before, .primary .ramp .blog .ramp h3::before, .primary .ramp .ramp .blog h2::before, .primary .ramp .ramp .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#e3cfba, #241e31) 100%);
}

.secondary *::selection {
  background-color: light-dark(#41ac99, #ef99a0);
  color: light-dark(#100819, #f4f1ee);
}
.secondary, .secondary .forward-theme {
  background-color: light-dark(#100819, #f4f1ee);
  color: light-dark(#f4f1ee, #100819);
}
.secondary .blog h2::before, .secondary .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#100819, #f4f1ee) 100%);
}
.secondary .ramp, .secondary .ramp .forward-theme {
  background-color: light-dark(#1b1626, #e9dfd4);
  color: light-dark(#f4f1ee, #100819);
}
.secondary .blog .ramp h2::before, .secondary .blog .ramp h3::before, .secondary .ramp .blog h2::before, .secondary .ramp .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#1b1626, #e9dfd4) 100%);
}
.secondary .ramp .ramp, .secondary .ramp .ramp .forward-theme {
  background-color: light-dark(#241e31, #e3cfba);
  color: light-dark(#f4f1ee, #100819);
}
.secondary .blog .ramp .ramp h2::before, .secondary .blog .ramp .ramp h3::before, .secondary .ramp .blog .ramp h2::before, .secondary .ramp .blog .ramp h3::before, .secondary .ramp .ramp .blog h2::before, .secondary .ramp .ramp .blog h3::before {
  background: linear-gradient(to bottom, transparent 0%, light-dark(#241e31, #e3cfba) 100%);
}

.blog h2 {
  position: sticky;
  top: 0rem;
  height: 3.5rem;
  z-index: 5;
}

.blog h3 {
  position: sticky;
  top: 3.5rem;
  height: 3rem;
  z-index: 4;
}

.blog h2::before, .blog h3::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  pointer-events: none;
}

.blog h1, .blog h2, .blog h3 {
  border-bottom: 2px solid;
}

div, h1, h2, h3, p, ul, li {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

p, li {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: underline solid 1px;
  color: inherit;
}

a:visited {
  color: inherit;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-family: "Russo One", sans-serif;
  font-weight: normal;
  justify-content: center;
}

h1 code, h2 code, h3 code {
  font-weight: bolder;
}

code {
  font-family: "Fira Code", monospace;
  font-variant-ligatures: normal;
  font-weight: 500;
}

div.sourceCode {
  color: inherit;
  width: fit-content;
  border: 2px solid;
  padding: 1rem;
  border-radius: 1rem;
}

div.sourceCode span.kw {
  color: #d09124;
  font-weight: bold;
}

div.sourceCode span.op {
  color: #e83d7f;
  font-weight: semi-bold;
}

div.sourceCode span.co {
  color: #4c6a76;
}

.summary-icon {
  transition: font-variation-settings 200ms ease-out;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

details[open] > summary .summary-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

details > summary {
  list-style: none;
  cursor: pointer;
  width: max-content;
  height: max-content;
}

blockquote {
  border-left: 2px solid;
  margin-left: 11px;
  padding-left: max(11px, 2rem - 13px);
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 2rem;
  display: grid;
  transition: 200ms grid-template-rows ease-out, 200ms padding ease-out;
  grid-template-rows: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

details ~ blockquote.detail {
  grid-template-rows: 0fr;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
}

details[open] ~ blockquote.detail {
  grid-template-rows: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

details ~ blockquote.detail > * {
  overflow: hidden;
}

.container {
  gap: 2rem;
  display: inline-flex;
}

.centering {
  align-items: center;
}

.spaced {
  justify-content: space-between;
}

.mildly-padded {
  padding: 1rem;
  border-radius: 1rem;
}

.padded {
  padding: 2rem;
  border-radius: 2rem;
}

.very-padded {
  padding: 4rem;
  border-radius: 4rem;
}

.vertical {
  flex-flow: column;
}

.horizontal {
  flex-flow: row;
}

.wrapping {
  flex-wrap: wrap;
}

.scrollable {
  flex-wrap: nowrap;
  scrollbar-gutter: stable;
}

.scrollable.vertical {
  overflow-y: scroll;
}

.scrollable.horizontal {
  overflow-x: scroll;
}

.packed {
  gap: 0;
  padding: 0;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
}

.packed > * {
  border-radius: 0;
}

.filling {
  flex-grow: 1;
}

.container.filling {
  display: flex;
}

.stack {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "full";
}

.stack > * {
  grid-area: full;
}

.panel {
  justify-self: stretch;
  align-self: stretch;
}

.pressure-no-propogate {
  position: relative;
}

.pressure-no-propogate > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.warning {
  color: #f86d16;
}

.faded {
  color: #4c6a76;
}

.tape {
  background-image: url("/warning.svg");
  background-repeat: repeat-x;
  background-size: 2rem 2rem;
  height: 2rem;
  min-height: 2rem;
  width: 100%;
}

.bordered {
  border: 2px solid;
}

.attention {
  color: #e83d7f;
}

.attention-border {
  border-color: #e83d7f;
}

.action {
  color: #f4f1ee;
  background-color: #e83d7f;
}

.action.scrollable {
  scrollbar-color: #f4f1ee transparent;
}

.popup:has(input[type=checkbox].close:checked) {
  display: none;
}

input[type=checkbox].close {
  display: none;
}

label:has(input[type=checkbox].close) {
  cursor: pointer;
}

* + .default {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
